<div class="article snippet">
  <div class="content">
    <div class="info">
      <h3><%= link_to(article.title, article) %></h3>
      <%= article_date(article) %>
    </div>

    <%= link_to(image_tag(article.cover_image_url), article) %>
  </div>
</div>
