<div class="article snippet">
  <h3><%= link_to(article.title, @article) %></h3>
  <div class="info"><%= article_date(article) %></div>
  <div class="content">
    <%= markdown(article.snippet) %>
  </div>

  <%= link_to "Read more", @article, class: "read-more" %>
</div>
