@import "global_variables";

#default {
  h2 {
    font-size: 20pt;
    margin-top: 0px;
    line-height: 1.1em;
  }

  .info {
    margin: 0px;
    font-size: 9pt;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 20px;

    .date {
      text-transform: uppercase;
      color: $green;
    }

    .topic {
      color: $green;
    }
  }

  footer {
    font-style: italic;
    color: #aaa;
    text-align: center;
    font-size: 10px;
  }
}