@import "global_variables";

.group {
  @include group
}

body {
  font-family: $readable-font;
}

header {
  color: #444;

  div.inner {
    padding: 0px $content-padding;
    clear: both;
    padding-top: 5px;
    border-bottom: 5px solid $green;
    @include group
  }

  div {
    padding: 0px 50px;
    clear: both;
    padding-top: 5px;
    border-bottom: 5px solid $green;
  }

  h1 {
    font-family: $friendly-font;
    font-size: 24pt;
    float: left;
    line-height: 50px;
    margin: 5px 0 0 0;
  }
}

h2 {
  color: $red;
  font-size: 18pt;
  font-family: $friendly-font;
  margin-bottom: 5px;
}

.lead {
  font-family: $friendly-font;
}

.article {
  .info {
    margin: 0px;
    font-size: 9pt;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 20px;

    .date {
      text-transform: uppercase;
      color: $green;
    }

    .topic {
      color: $green;
    }
  }
}