@import "global_variables";

.group {
  @include group
}

body {
  font-family: $readable-font;
}

div#content {
  position: relative;
  margin: 20px auto;
  width: 600px;
}

h1 {
  font-family: $friendly-font;
  font-size: 24pt;

  em {
    color: $red;
    font-weight: 300;
    font-style: normal;
  }
}

h2 {
  color: $red;
  font-size: 18pt;
  font-family: $friendly-font;
  margin-bottom: 5px;
}

h3 {
  font-weight: bold;
  font-size: 14pt;
  color: $green;

  a {
    color: $green;

    &:hover {
      color: lighten($green, 20);
      text-decoration: none;
    }
  }
}

a {
  color: darken($blue, 30);

  &:hover {
    text-decoration: none;
    color: $blue;
  }
}


.lead {
  font-family: $friendly-font;
}

.article {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: $light-grey solid 1px;

  .info {
    margin: 0px;
    font-size: 9pt;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 20px;
    color: $green;

    .date {
      text-transform: uppercase;
    }
  }

  hr {
    margin: 20px 0 60px 0;
  }

  h4 {
    color: $green;
    margin: 40px 0 20px 0;

    em {
      font-size: 10pt;
      color: $dark-grey;
    }
  }

  .image {
    margin-bottom: 20px;

    img {
      display: block;
      margin: 0 auto;
    }

    .caption {
      text-align: center;
      padding: 0 50px;
      font-style: italic;
      font-size: 9pt;
    }
  }

  p {
    margin-bottom: 20px;
  }

  blockquote {
    border-color: $blue;

    p {
      font-size: 10pt;
      margin-bottom: 1em;
    }
  }

  &.snippet {
    @include group;

    .info {
      margin-top: -15px;
    }

    a.read-more {
      display: block;
      float: right;
      width: auto;
      background-color: $light-grey;
      padding: 5px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.older-articles {
  float: right;
}

form .options {
  text-align: center;
}

input, textarea {
  width: 100%;
}

#default {
  header {
    text-align: center;
    margin-bottom: 50px;

    p {
      font-style: italic;
      font-size: 9pt;
    }
  }
}
