@import "global_variables";

#main {
  body {
    // Used to reference to set the canvas size to the entire background
    width:  100%;
    height: 100%;
    background-color: $blue;
  }

  .mom {
    a { color: $red; }
  }

  #mom {
    img {
      float: left;
      width: 40%;
      padding-right: 10px;
    }
  }

  header {
    color: #444;
    background-color: white;
    width: 750px;
    position: fixed;
    z-index: 9999;

    div.inner {
      padding: 0px $content-padding;
      clear: both;
      padding-top: 5px;
      border-bottom: 5px solid $green;
      @include group
    }

    div {
      padding: 0px 50px;
      clear: both;
      padding-top: 5px;
      border-bottom: 5px solid $green;
    }

    h1 {
      float: left;
      line-height: 50px;
      margin: 5px 0 0 0;
    }

    div.inner {
      padding: 0px $content-padding;
      clear: both;
      padding-top: 5px;
      border-bottom: 5px solid $green;
      @include group
    }

    nav {
      float: right;
      position: relative;
      top: 5px;
      font-size: 12pt;
      @include group;

      ul {
        margin: 0px;

       li {
          display: inline-block;

          a {
            display: block;
            height: 50px;
            color: $dark-grey;
            line-height: 60px;
            width: 70px;
            text-align: center;
            padding: 0 5px;

            &:hover, &.active {
              border-bottom: 5px solid $blue;
              color: $blue;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  div.content-section {
    padding: 5px $content-padding;
    background-color: #fff;
    margin-bottom: 100px;

    &.top {
      margin-top: 75px;
      margin-bottom: 600px;

      .lead {
        margin-bottom: 30px;
      }
    }

    h3 {
      border-bottom: 1px solid $light-grey;
      margin-top: 20px;
    }

    .article.snippet {
      margin: 10px 0 50px;

      h3 {
        margin-top: 0px;
        border-bottom: 0px;
      }
    }

    h4 {
      font-weight: bold;
      font-size: 11pt;
      color: $dark-grey;
      margin: 0px;
      margin-bottom: 1px;
    }
  }

  #portfolio {
    #owles-nest .screenshot .more-info {
      background: url("portfolio/projects/owles_nest_web_blur.jpg");
    }

    #crimson-rewards .screenshot .more-info {
      background: url("portfolio/projects/crimsonrewards_web_blur.jpg");
    }

    #listia .screenshot .more-info {
      background: url("portfolio/projects/listia_web_blur.jpg");
    }

    a.thumb {
      color: $dark-grey;
      position: relative;
      float: left;
      padding: 15px;

      .info {
        height: 80px;
        width: 230px;
        position: absolute;
        bottom: 14px;
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 14pt;
        line-height: 80px;
        vertical-align: middle;
        padding: 0 20px;
        font-family: $friendly-font;
        font-weight: bold;
        display: none;
      }
    }

    .web-app {
      margin-top: 20px;
      margin-bottom: 70px;

      .header h4 {
        float: left;
        font-size: 13pt;
        margin-bottom: -2px;
        width: auto;
      }

      .role {
        float: right;
      }

      .screenshot {
        background-color: $dark-grey;
        padding: 10px;

        .instructions {
          float: right;
          position: relative;
          bottom: 17px;
          right: 2px;
        }

        .more-info {
          width: 450px;
          height: 250px;
          display: none;
          padding: 20px 65px;

          div {
            height: 230px;
            padding: 10px;
            background-color: rgba(255,255,255,0.7);
            border-radius: 10px;
          }
        }
      }
    }
  }

  h2 {
    color: $red;
    font-size: 18pt;
    font-family: $friendly-font;
    margin-bottom: 5px;
  }

  p.description {
    margin-top: 0px;
    margin-left: 10px;
    font-style: italic;
  }

  div#content {
    position: absolute;
    background-color: white;
    right: 100px;
    width: 750px;
    margin: 0;
  }

  #contact {
    margin-bottom: 500px;

    a {
      float: left;
      line-height: 48px;
      display: block;
      width: 270px;
      text-decoration: none;
      background-color: #d5d5d5;
      margin: 15px;

      .icon {
        height: 48px;
        width: 48px;
        display: inline;
        margin-right: 5px;
        float: left;
      }

      &:hover {
        .icon {
          background-color: #999;
        }
      }

      div.email-icon { background-color: $green; }
      div.twitter-icon { background-color: #39A9E0; }
      div.facebook-icon { background-color: #3B5998; }
      div.linkedin-icon { background-color: #007FB1; }
      div.github-icon { background-color: #4183C4; }
      div.stackoverflow-icon { background-color: #F47920; }
    }
  }

  #footer {
    background-color: $green;
    color: #ccc;
    font-size: 10pt;
    text-align: center;
    margin-bottom: 0px;
  }

  @media screen and (max-width: 850px) {

    header {
      margin: auto;

      div {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    div#content {
      position: static;
      right: 0;
      margin: auto;
    }

    body {
      background-color: $blue;
      height: auto;
      padding: 0px  ;
    }

    canvas {
      display: none;
      visibility: hidden;
    }
  }

  canvas {
    display: block;
    background-color: $blue;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
}

#thoughtworks {
  #content {
    margin: 20px auto;
    width: 1150px;
  }

  #logo {
    text-align: center;
    width: 100%;
  }

  h1 {
    font-family: "Lobster Two", serif;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 38pt;

    em {
      font-weight: normal;
      text-decoration: none;
      color: #333;
    }
  }

  #labels {
    font-family: "Lato", serif;
    font-weight: bold;
    margin-left: 190px;

    .clue-label {
      width: 90px;
      margin-left: 31px;
      float: left;
      text-align: center;
    }
  }

  .team {
    font-family: "Lato", serif;
    margin-bottom: 10px;

    .name {
      font-size: 120%;
      font-weight: bold;
      width: 170px;
    }

    .clue-bar {
      background-color: green;
      border-radius: 5px;
      width: 0px;
      height: 20px;
    }

    .clue-bubbles {
      height: 40px;
      width: 640px;
      margin-top: -30px;
      margin-left: -20px;
      margin-right: -20px;

      .clue-bubble:last-child {
        margin-right: 0px;
      }

      .clue-bubble {
        background-color: #ff9999;
        height: 40px;
        width: 40px;
        border-radius: 20px;
        margin-right: 80px;
        float: left;

        &.achieved {
          background-color: green;
        }
      }
    }

    .field {
      font-size: 16pt;
      padding: 20px 10px;
      float: right;
      line-height: 40px;
      vertical-align: middle;
      margin-left: 10px;

      &.name {
        float: left;
      }

      &.clue {
        background-color: #ff9999;

        padding: 0px;
        height: 20px;
        margin: 30px 20px 30px 40px;
        border-radius: 5px;
      }

      &.time {
        margin-left: 40px;
        width: 100px;
      }

      &.skips {
        width: 70px;
      }
    }
  }
}


