html, body {
  height: 100%;
  background-color: #eee;
}

#matt {
  .push, .footer {
    height: 30px;
  }

  #stripe {
    background-color: #f1f7fd;
    height: 50px;
    position: absolute;
    top: 100px;
    width: 100%;
  }

  #content {
    margin: 0 auto;
    width: 790px;
    clear: both;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
    position: relative;
  }

  #side {
    padding-top: 10px;
    width: 215px;
    position: absolute;
    left: 0px;
    margin: 0 -42px 5px 0;
    height: 100%;
    z-index: 1;

    img.headshot {
      width: 215px;
      margin-bottom: 10px;
    }

    .social-button {
      background-color: #777;
      border-radius: 32px;
      width: 64px;
      height: 64px;
      display: block;
      margin: 10px auto 0;

      &.imdb:hover { background-color: #F3CE00; }
      &.vimeo:hover { background-color:  #00A47A; }
      &.twitter:hover { background-color: #00ACED; }
    }
  }

  #large {
    position: absolute;
    right: 0px;
    z-index: 2;
  }

  #header {
    margin: 10px;
  }

  h1 {
    font-size: 30px;
    font-weight: 300;
    color: #777;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    padding-top: 50px;
    margin-bottom: 20px;

    .description {
      display: inline-block;
      float: right;
      font-size: 22px;
      line-height: 50px;
      text-transform: none;
      vertical-align: bottom;
      color: #777;

      .subtext {
        font-size: 12px;
        line-height: 12px;
        height: 15px;
        margin-bottom: -15px;
        text-align: center;
        color: #999;
      }
    }

    a {
      color: #777;
    }
  }

  #contact {
    text-align: center;
    margin-top: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #777;

    .email {
      padding: 0 5px;
    }

    .phone {
      padding: 0 5px;
    }
  }

  .footer {
    margin: 0 auto;
    width: 783px;
    text-align: center;
    color: #ccc;
  }
}