<!DOCTYPE html>
<html lang="en">
<head>
  <title>Holiday Scavenger HUNT!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Lobster+Two:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

  <meta http-equiv="refresh" content="15" />
</head>

<body id="thoughtworks">

<%= yield %>

</body>
</html>
